:root {
    --primary-light: #556182;
    --primary-base: #CDDAFD;
    --primary-dark: #E0E8FE;

    --accent-light: #DEF2DF;
    --accent-base: #A7DCAB;
    --accent-dark: #5B795E;


    --text-regular: #333333;
    --text-accent: var(--primary-base);
    --text-light: #9a9a9f;

    --font-brand: 'Reenie Beanie', cursive;
    --font-body: 'Lato', sans-serif;
    --font-heading: 'Merriweather', serif;
}

body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 300;
    color: #333333;
}

p {
    font-family: var(--font-body);
    font-weight: 300;
    color: #333333;
}

.brand-font {
    font-family: var(--font-brand);
}
